@font-face {
    font-family: NationalFont;
    src: url(fonts/test-national-medium.woff2);
}

* {
    box-sizing: border-box;
    font-family: 'NationalFont'
}

body {
    margin: 0;
}

footer {
    margin-top: 100px;
    background-color: #242424;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer a {
    color: rgb(199, 199, 199);
}

.topnav {
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #b3b3b3;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 18px;
}


.topnav a:hover {
    color: rgb(255, 255, 255);
}

.topnav-centered a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #BA0000;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;

}

.topnav-left {
    float: left;
}

.column {
    float: left;

    padding: 0 10px;
}

.separator {
    height: 100px;
}

.search-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search {
    padding: 50px;
    text-align: center;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    position: relative;
    max-width: 300px;
    min-width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.search-list-header {
    color: rgb(32, 32, 32);
    padding-bottom: 30px;
    font-size: 30px;
    letter-spacing: -.4px;
    line-height: 54px;
    text-align: center;
}

.card_info {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .7);
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}


.grid-container5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
}

.grid-item {
    padding: 2px;
}

.footer-header {
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.pickgradient {
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.pickgradient img {
    position: relative;
    z-index: -1;
    display: block;
}

.table-tracks {
    width: 700px;
}

.table-tracks-row {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 9px;
    position: relative;
}

.table-tracks-row::after {
    border-bottom: 1px solid #ebebeb;
    bottom: 0;
    content: "";
    display: block;
    left: 15px;
    position: absolute;
    right: 15px;
}

.table-tracks-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.table-tracks-artist {
    flex-shrink: 1;
    width: 60%;
}

.table-tracks-track {
    flex-shrink: 1;
    width: 40%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}